//.weather-list {
//  display: flex;
//  flex-direction: column;
//  flex-wrap: wrap;
//
//  .weather-day {
//    padding: 5px;
//    border-bottom: 2px solid #ccc;
//    margin-bottom: 5px;
//    display: flex;
//    flex-direction: row;
//    flex: 1;
//    align-items: center;
//
//    > div {
//      display: flex;
//      flex-direction: row;
//      padding: 5px;
//    }
//
//    .weather-additional {
//      flex: 1;
//      display: flex;
//      flex-direction: column;
//    }
//  }
//
//  .temperature {
//    color: #afaf25;
//  }
//
//  .hour {
//    color: blue;
//  }
//
//  .day {
//    font-size: 38px;
//    font-weight: 600;
//    color: #f36a6a;
//    display: none;
//    padding: 5px;
//
//    &.show {
//      display: flex;
//      align-items: center;
//      width: 220px;
//    }
//  }
//
//  .degree, .speed, .clouds {
//    color: #7d7d7d;
//  }
//
//  .temperature {
//    font-size: 28px;
//    font-weight: 600;
//    flex: 1;
//  }
//
//  .weather-title {
//    flex: 1;
//    font-size: 16px;
//    font-weight: bold;
//    color: #555571;
//  }
//}

.weather-additional {
  flex: 1;

  .hour {
    color: blue;
  }

  .degree, .speed, .clouds {
    color: #7d7d7d;
  }

  .temperature {
    font-size: 28px;
    font-weight: 600;
    flex: 1;
  }
}