.weather-days {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: stretch;
  text-align: center;
  margin-top: 10px;

  .days {
    cursor: pointer;
    font-size: 26px;
    flex: 1;
    &:hover {
      font-weight: 900;
    }

    &.active {
      color: #b96060;
      font-weight: 900;
    }
  }
}

.weather-view {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;


  app-weather-view {
    flex: 1;
  }
}