<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-md-2 offset-lg-3 offset-xl-4 text-center col-md-8 col-lg-6 col-xl-4">
                <h1 class="display-1">404</h1>
                <p><strong>Oops! Page not found</strong></p>
                <p>The page you are looking for might have been removed, had its name changed or is temporarily
                    unavailable.</p>
                <button type="button" (click)="goToHomepage()" class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i>
                    Back to Homepage
                </button>
            </div>
        </div>
    </div>
</div>
