<div ng-if="$ctrl.loading">Loading ...</div>
<div class="row" ng-if="!$ctrl.loading">
    <div class="col-6">
        <div class="row">
            <div class="col">
                <weather-search on-search="$ctrl.search(value)"></weather-search>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Country: {{$ctrl.city.country}}</li>
                    <li class="list-group-item">Name: {{$ctrl.city.name}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col">
                <weather-details day="$ctrl.currentDay"></weather-details>
            </div>
        </div>
        <div class="row">
            <div class="col mt-2">
                <weather-list days="$ctrl.days" on-select="$ctrl.selectWeather(value)"></weather-list>
            </div>
        </div>
    </div>
</div>
